<html lang="en"><head>
    <title>Main Form</title>
        </head>
        <body>
            <h1>Ceramics eh?</h1>
                <form action="" method="POST"> <input type="hidden" value="mDfHYxuZacrxCWRIrPw37aa8bYtVZpNO" name="csrfmiddlewaretoken">
                    <p><label for="id_catalogue_id">Catalogue id:</label> <input type="text" value="22" name="catalogue_id" maxlength="45" id="id_catalogue_id"></p>
<p><label for="id_heath_id">Heath id:</label> <input type="text" value="fdf44" name="heath_id" maxlength="45" id="id_heath_id"></p>
<p><label for="id_piece_name">Piece name:</label> <input type="text" value="cc" name="piece_name" maxlength="45" id="id_piece_name"></p>
<p><label for="id_piece_description">Piece description:</label> <input type="text" value="cc" name="piece_description" maxlength="2000" id="id_piece_description"></p>
<p><label for="id_manufactured_date">Manufactured date:</label> <input type="text" name="manufactured_date" id="id_manufactured_date"></p>
<p><label for="id_length_inches">Length inches:</label> <input type="number" name="length_inches" id="id_length_inches"></p>
<p><label for="id_width_inches">Width inches:</label> <input type="number" name="width_inches" id="id_width_inches"></p>
<p><label for="id_height_inches">Height inches:</label> <input type="number" name="height_inches" id="id_height_inches"></p>
<p><label for="id_weight_ounces">Weight ounces:</label> <input type="number" name="weight_ounces" id="id_weight_ounces"></p>
<p><label for="id_length_mm">Length mm:</label> <input type="number" name="length_mm" id="id_length_mm"></p>
<p><label for="id_width_mm">Width mm:</label> <input type="number" name="width_mm" id="id_width_mm"></p>
<p><label for="id_height_mm">Height mm:</label> <input type="number" name="height_mm" id="id_height_mm"></p>
<p><label for="id_weight_grams">Weight grams:</label> <input type="number" name="weight_grams" id="id_weight_grams"></p>
<p><label for="id_cataloguer">Cataloguer:</label> <input type="text" name="cataloguer" maxlength="45" id="id_cataloguer"></p>
<p><label for="id_catalogue_date">Catalogue date:</label> <input type="text" name="catalogue_date" id="id_catalogue_date"></p>
<p><label for="id_condition">Condition:</label> <select name="condition" id="id_condition">
<option value="">---------</option>
<option selected="selected" value="1">Condition object</option>
</select></p>
<p><label for="id_exhibition">Exhibition:</label> <select name="exhibition" id="id_exhibition">
<option value="">---------</option>
<option selected="selected" value="1">hghg</option>
</select></p>
<p><label for="id_publication">Publication:</label> <select name="publication" id="id_publication">
<option value="">---------</option>
<option selected="selected" value="1">ghghghghgh</option>
</select></p>
                    <input type="submit">
                </form>


</body></html>