{% extends "base.html" %}
<footer></footer>
{% block content %}
<h1>{{ object.piece_name }}</h1>
<p>{{ object.post_edith }}</p>
<p>{{ object.catalogue_id }}</p>
<p>{{ object.heath_id }}</p>
<p>{{ object.piece_description }}</p>
<p>{{ object.manufactured_date }}</p>
<p>{{ object.length_inches }}</p>
<p>{{ object.width_inches }}</p>
<p>{{ object.height_inches }}</p>
<p>{{ object.weight_ounces }}</p>
<p>{{ object.length_mm }}</p>
<p>{{ object.width_mm }}</p>
<p>{{ object.height_mm }}</p>
<p>{{ object.weight_grams }}</p>
<p>{{ object.cataloguer }}</p>
<p>{{ object.catalogue_date }}</p>

